.button {
    -fx-font-weight: bold;
}

.anchor {
    -fx-background-image: url("../Images/galaxy.jpg");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}